body{
   background: url(bmi-and-weight-loss-banner-background-2GGJXN1.jpeg);
   background-size: cover;
   opacity: 0.9;
}

.calories-cal .container{
    background-color: white;
    border-radius: 40px;
    padding: 0px;
    margin-top: 100px;
}

.calories-cal input{
    background-color: #dd3b79;
    border:none;
    color: wheat;
}

#resultcal{
    color: peru;
    padding-top: 0.5rem;
}

.left-data{
    background-color: brown;
    opacity: 0.9;
    text-align: center;
    border-top-left-radius: 30px;
    height: 100%;
}


.pie-chart{
    height: 100%;
    text-align: center;
    border-bottom-right-radius: 30px;
}